@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi, my name is Samuel Limon and I build websites... among other things.</h1>
</div>
